src/main/resources/soapresources/HostIFService.wsdl

<wsdl:definitions xmlns:axis2="http://hostif.vtm.prism.co.za" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:ns0="http://hostif.vtm.prism.co.za/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://hostif.vtm.prism.co.za">
	<wsdl:documentation>HostIF Service</wsdl:documentation>
	<wsdl:types>
		<xs:schema xmlns:ns="http://hostif.vtm.prism.co.za/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://hostif.vtm.prism.co.za/xsd">
			<xs:element name="transfer">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="txTypeId" nillable="true" type="xs:string" />
						<xs:element name="sequence" nillable="true" type="xs:string" />
						<xs:element name="cellNumber" nillable="true" type="xs:string" />
						<xs:element name="destCellNumber" nillable="true" type="xs:string" />
						<xs:element name="amount" nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="transferResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sequence" nillable="true" type="xs:string" />
						<xs:element name="statusId" nillable="true" type="xs:string" />
						<xs:element name="txRefId" nillable="true" type="xs:string" />
						<xs:element name="seqstatus" nillable="true" type="xs:string" />
						<xs:element name="seqtxRefdId" nillable="true" type="xs:string" />
						<xs:element name="lasseq" nillable="true" type="xs:string" />
						<xs:element name="prevBalance" nillable="true" type="xs:string" />
						<xs:element name="currentBalance" nillable="true" type="xs:string" />
						<xs:element name="dateTime" nillable="true" type="xs:string" />
						<xs:element name="origMsisdn" nillable="true" type="xs:string" />
						<xs:element name="destMsisdn" nillable="true" type="xs:string" />
						<xs:element name="responseCode" nillable="true" type="xs:string" />
						<xs:element name="responseMessage" nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="vend">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sequence" nillable="true" type="xs:string" />
						<xs:element name="origMsisdn" nillable="true" type="xs:string" />
						<xs:element name="destMsisdn" nillable="true" type="xs:string" />
						<xs:element name="amount" nillable="true" type="xs:string" />
						<xs:element name="tariffTypeId" nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="vendResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sequence" nillable="true" type="xs:string" />
						<xs:element name="statusId" nillable="true" type="xs:string" />
						<xs:element name="txRefId" nillable="true" type="xs:string" />
						<xs:element name="seqstatus" nillable="true" type="xs:string" />
						<xs:element name="seqtxRefdId" nillable="true" type="xs:string" />
						<xs:element name="lasseq" nillable="true" type="xs:string" />
						<xs:element name="origBalance" nillable="true" type="xs:string" />
						<xs:element name="destBalance" nillable="true" type="xs:string" />
						<xs:element name="dateTime" nillable="true" type="xs:string" />
						<xs:element name="origMsisdn" nillable="true" type="xs:string" />
						<xs:element name="destMsisdn" nillable="true" type="xs:string" />
						<xs:element name="responseCode" nillable="true" type="xs:string" />
						<xs:element name="responseMessage" nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="lookup">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="origMsisdn" nillable="true" type="xs:string" />
						<xs:element name="destMsisdn" nillable="true" type="xs:string" />
						<xs:element name="amount" nillable="true" type="xs:string" />
						<xs:element name="tariffTypeId" nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="lookupResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="statusId" nillable="true" type="xs:string" />
						<xs:element name="balance" nillable="true" type="xs:string" />
						<xs:element name="destMsisdn" nillable="true" type="xs:string" />
						<xs:element name="message" nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="serviceRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="requestCode" nillable="true" type="xs:string" />
						<xs:element name="subsMsisdn" nillable="true" type="xs:string" />
						<xs:element name="serviceCode" nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="serviceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="subsMsisdn" type="xs:string" />
						<xs:element name="transactionId" type="xs:string" />
						<xs:element name="responseCode" type="xs:string" />
						<xs:element name="responseString" type="xs:string" />
						<xs:element name="dataBalance" type="xs:string" />
						<xs:element name="expiryDate" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
        	<xs:element name="queryTx">
        		<xs:complexType>
        			<xs:sequence>
						<xs:element name="origMsisdn" nillable="true" type="xs:string" />
        				<xs:element name="sequence" nillable="true" type="xs:string" />
        				<xs:element name="txRefId" nillable="true" type="xs:string" />
        			</xs:sequence>
        		</xs:complexType>
        	</xs:element>
        	<xs:element name="queryTxResponse">
        		<xs:complexType>
        			<xs:sequence>
						<xs:element name="statusId" nillable="true" type="xs:string" />
						<xs:element name="message" nillable="true" type="xs:string" />
        			</xs:sequence>
        		</xs:complexType>
        	</xs:element>
        </xs:schema>
    </wsdl:types>
	<wsdl:message name="vendMessage">
		<wsdl:part name="part1" element="ns0:vend" />
	</wsdl:message>
	<wsdl:message name="vendResponse">
		<wsdl:part name="part1" element="ns0:vendResponse" />
	</wsdl:message>
	<wsdl:message name="transferMessage">
		<wsdl:part name="part1" element="ns0:transfer" />
	</wsdl:message>
	<wsdl:message name="transferResponse">
		<wsdl:part name="part1" element="ns0:transferResponse" />
	</wsdl:message>
	<wsdl:message name="lookupMessage">
		<wsdl:part name="part1" element="ns0:lookup" />
	</wsdl:message>
	<wsdl:message name="lookupResponse">
		<wsdl:part name="part1" element="ns0:lookupResponse" />
	</wsdl:message>
	<wsdl:message name="serviceMessage">
		<wsdl:part name="part1" element="ns0:serviceRequest" />
	</wsdl:message>
	<wsdl:message name="serviceResponse">
		<wsdl:part name="part1" element="ns0:serviceResponse" />
	</wsdl:message>
	<wsdl:message name="queryTxMessage">
		<wsdl:part name="part1" element="ns0:queryTx"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryTxResponse">
		<wsdl:part name="part1" element="ns0:queryTxResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="HostIFServicePortType">
		<wsdl:operation name="vend">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:vendMessage" wsaw:Action="urn:vend" />
			<wsdl:output message="axis2:vendResponse" />
		</wsdl:operation>
		<wsdl:operation name="transfer">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:transferMessage" wsaw:Action="urn:transfer" />
			<wsdl:output message="axis2:transferResponse" />
		</wsdl:operation>
		<wsdl:operation name="lookup">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:lookupMessage" wsaw:Action="urn:lookup" />
			<wsdl:output message="axis2:lookupResponse" />
		</wsdl:operation>
		<wsdl:operation name="serviceRequest">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:serviceMessage" wsaw:Action="urn:serviceRequest" />
			<wsdl:output message="axis2:serviceResponse" />
		</wsdl:operation>
		<wsdl:operation name="queryTx">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:queryTxMessage" wsaw:Action="urn:queryTx" />
			<wsdl:output message="axis2:queryTxResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HostIFServiceSOAP11Binding"
		type="axis2:HostIFServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="vend">
			<soap:operation soapAction="urn:vend" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="transfer">
			<soap:operation soapAction="urn:transfer" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="lookup">
			<soap:operation soapAction="urn:lookup" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="serviceRequest">
			<soap:operation soapAction="urn:serviceRequest"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryTx">
			<soap:operation soapAction="urn:queryTx"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="HostIFServiceSOAP12Binding"
		type="axis2:HostIFServicePortType">

		<wsdl:operation name="vend">
			<soap12:operation soapAction="urn:vend" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="transfer">
			<soap12:operation soapAction="urn:transfer"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="lookup">
			<soap12:operation soapAction="urn:lookup" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="serviceRequest">
			<soap12:operation soapAction="urn:serviceRequest"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryTx">
			<soap12:operation soapAction="urn:queryTx"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="HostIFServiceHttpBinding"
		type="axis2:HostIFServicePortType">
		<http:binding verb="POST" />
		<wsdl:operation name="vend">
			<http:operation location="vend" />
			<wsdl:input>
				<mime:content type="text/xml" part="part1" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="part1" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="transfer">
			<http:operation location="transfer" />
			<wsdl:input>
				<mime:content type="text/xml" part="part1" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="part1" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="lookup">
			<http:operation location="lookup" />
			<wsdl:input>
				<mime:content type="text/xml" part="part1" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="part1" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="serviceRequest">
			<http:operation location="serviceRequest" />
			<wsdl:input>
				<mime:content type="text/xml" part="part1" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="part1" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryTx">
			<http:operation location="queryTx" />
			<wsdl:input>
				<mime:content type="text/xml" part="part1" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="part1" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HostIFService">
		<wsdl:port name="HostIFServiceSOAP11port_http" binding="axis2:HostIFServiceSOAP11Binding">
			<soap:address location="http://10.60.1.213:8081/axis2/services/HostIFService" />
		</wsdl:port>
		<wsdl:port name="HostIFServiceSOAP12port_http" binding="axis2:HostIFServiceSOAP12Binding">
			<soap12:address location="http://10.60.1.213:8081/axis2/services/HostIFService" />
		</wsdl:port>
		<wsdl:port name="HostIFServiceHttpport1" binding="axis2:HostIFServiceHttpBinding">
			<http:address location="http://10.60.1.213:8081/axis2/rest/HostIFService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>